html, body{
	width: 100%;
	height: 100%;
	margin: 10px auto;
}


.menu-principal{
	
	position: relative;
	
	top: 0;
	height: 20%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border: solid 6px blue;
	margin: 0 auto;
	
}
.menu-lateral{
	
	height:80%;
	width: 30%;
	padding: 20px; 

	display: inline-block;
	box-sizing: border-box;

	border: solid 6px red;
}


.main{
	
	position: absolute;

	height: 80%;
	width: 70%;
	padding: 20px;
	
	box-sizing: border-box;
	display: inline-block;

	border: solid 6px green;


}